Formula 1 Project/ADF/PL_ingest_formula1_data_Child/PL_ingest_formula1_data_Child.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"databricks_f1_ls":{"type":"string"},"ls_formula1_adls":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/PL_ingest_formula1_data_Child')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"get folder details","type":"GetMetadata","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"ds_formula1_raw","type":"DatasetReference","parameters":{"p_windows_end_date":{"value":"@pipeline().parameters.p_window_end_date","type":"Expression"}}},"fieldList":["exists"],"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}}},{"name":"If folder exists","type":"IfCondition","dependsOn":[{"activity":"get folder details","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@activity('get folder details').output.exists","type":"Expression"},"ifTrueActivities":[{"name":"f1 circuits ingestion","type":"DatabricksNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Formula1/ingestion/1.ingest_circuits_file","baseParameters":{"p_source_name":{"value":"@variables('p_source_name')","type":"Expression"},"p_file_date":{"value":"@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('databricks_f1_ls')]","type":"LinkedServiceReference"}},{"name":"f1 races ingestion","type":"DatabricksNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Formula1/ingestion/2.ingest_races_file","baseParameters":{"p_data_source":{"value":"@variables('p_source_name')","type":"Expression"},"p_file_date":{"value":"@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('databricks_f1_ls')]","type":"LinkedServiceReference"}},{"name":"f1 drivers ingestion","type":"DatabricksNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Formula1/ingestion/4.ingest_drivers_file","baseParameters":{"p_data_source":{"value":"@variables('p_source_name')","type":"Expression"},"p_file_date":{"value":"@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('databricks_f1_ls')]","type":"LinkedServiceReference"}},{"name":"f1 constructors ingestion","type":"DatabricksNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Formula1/ingestion/3.ingest_constructors_file","baseParameters":{"p_data_source":{"value":"@variables('p_source_name')","type":"Expression"},"p_file_date":{"value":"@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('databricks_f1_ls')]","type":"LinkedServiceReference"}},{"name":"f1 results ingestion","type":"DatabricksNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Formula1/ingestion/5.ingest_results_file","baseParameters":{"p_data_source":{"value":"@variables('p_source_name')","type":"Expression"},"p_file_date":{"value":"@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('databricks_f1_ls')]","type":"LinkedServiceReference"}},{"name":"f1 pit_stops ingestion","type":"DatabricksNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Formula1/ingestion/6.ingest_pit_stops_file","baseParameters":{"p_data_source":{"value":"@variables('p_source_name')","type":"Expression"},"p_file_date":{"value":"@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('databricks_f1_ls')]","type":"LinkedServiceReference"}},{"name":"f1 lap_times ingestion","type":"DatabricksNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Formula1/ingestion/7.ingest_lap_times_file","baseParameters":{"p_data_source":{"value":"@variables('p_source_name')","type":"Expression"},"p_file_date":{"value":"@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('databricks_f1_ls')]","type":"LinkedServiceReference"}},{"name":"f1 qualifying ingestion","type":"DatabricksNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Formula1/ingestion/8.ingest_qualifying_file","baseParameters":{"p_data_source":{"value":"@variables('p_source_name')","type":"Expression"},"p_file_date":{"value":"@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('databricks_f1_ls')]","type":"LinkedServiceReference"}}]}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"p_window_end_date":{"type":"string"}},"variables":{"p_source_name":{"type":"String","defaultValue":"Ergast"}},"annotations":[],"lastPublishTime":"2025-03-09T09:49:24Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/ds_formula1_raw')]"]},{"name":"[concat(parameters('factoryName'), '/ds_formula1_raw')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_formula1_adls')]","type":"LinkedServiceReference"},"parameters":{"p_windows_end_date":{"type":"string"}},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":{"value":"@formatDateTime(dataset().p_windows_end_date, 'yyyy-MM-dd')","type":"Expression"},"fileSystem":"raw"}},"schema":{"type":"object","properties":{"constructorId":{"type":"integer"},"constructorRef":{"type":"string"},"name":{"type":"string"},"nationality":{"type":"string"},"url":{"type":"string"}}}},"dependsOn":[]}]}